*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(105, 87, 59) !important;
  color: rgb(199, 182, 154) !important;
}

.bg{
  background-color: rgb(49, 32, 5) !important;
  color: rgb(199, 182, 154) !important  ;
}
